.name {
    text-align: center;
}

.img1 {
    float: left;
    padding-right: 50px;
}

.text1 {
    float: inline;
}

.poem {
    font-style: italic;
    text-indent: 25px;
}

.text2 {
    padding-top: 100px;
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
    border-spacing: 3px;
}

.content {
    min-height: calc(100vh - 70px);
    padding-bottom: 50px;
    font-family: sans-serif;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    background-color: wheat;
}

.footer {
    height: 50px;
    color: white;
    font-size: medium;
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
}

.ethics {
    background: cyan;
}

.cpp {
    background: darkblue;
    color: white;
}

.work {
    background: darkgreen;
    color: white;
}

.db {
    background: darkmagenta;
    color: white;
}

body, html {
    background-image: url('../img/rock_bg.jpg');
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}