.name {
    background-color: crimson;
    text-align: center;
    font-family: sans-serif;
}

.img1 {
    float: left;
    padding-right: 50px;
}

.text1 {
    float: inline;
}

.poem {
    font-style: italic;
    text-indent: 25px;
}

.text2 {
    padding-top: 100px;
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
    border-spacing: 3px;
}

.content {
    min-height: calc(100vh - 70px);
    padding-bottom: 50px;
    font-family: sans-serif;
}

.footer {
    height: 50px;
    background-color: crimson;
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
}

.ethics {
    background: cyan;
}

.cpp {
    background: darkblue;
    color: white;
}

.work {
    background: darkgreen;
    color: white;
}

.db {
    background: darkmagenta;
    color: white;
}

body {
    background-image: url('img/rock_bg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}